BFGSDK/Frameworks filter=lfs diff=lfs merge=lfs -text
BFGSDK/Frameworks/bfg_iOS_sdk.framework filter=lfs diff=lfs merge=lfs -text
BFGSDK/Frameworks/bfg_iOS_sdk.framework/bfg_iOS_sdk filter=lfs diff=lfs merge=lfs -text
